body {
  background-attachment: fixed;
  background-image: url("../assets/backgroundLogin.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  margin-bottom: 30px;
  min-height: 100%;
  opacity: 0.95;
  text-align: center;
}

.login__form {
  background-color: white;
  border-radius: 5px;
  border: black 3px solid;
  font-family: "Fira Code", monospace;
  margin: 5vw auto;
  max-width: 300px;
}

form {
  align-items: center;
  color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  max-width: 500px;
  width: 100%;
}

form input {
  background-color: transparent;
  font-family: "Fira Code", monospace;
  height: 40px;
  margin: 10px;
  padding: 5px;
  width: 80%;
}

form a {
  color: black;
  text-decoration: none;
}

form a:hover {
  border-bottom: solid 2px black;
  color: red;
}

form a:active {
  color: black;
}

form h3,
label {
  color: rgb(19, 22, 22);
  font-size: 24px;
  margin: 10px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  margin: 4px 2px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  width: 80%;
}

.button_dark {
  background-color: white;
  border: 2px solid #414141;
  color: black;
}

.button_dark:hover {
  background-color: #414141;
  color: white;
}
